$font-large: 2rem
$base-spacing: 0.5rem
$brand: #957

input, select
  color: inherit
  background-color: inherit

input
  border-bottom: 1px solid #ccc
  transition: border-color 0.5s ease
  &:focus
    border-color: $brand

.options, .suggestions
  padding: $base-spacing

.options
  display: flex
  > input
    flex: 1

.suggestions > div
  display: flex
  > *
    flex: 1

.notice
  display: flex
  align-items: center
  justify-content: space-evenly
  text-align: center
  margin-top: $base-spacing
  .time
    font-size: $font-large
